/* Estilos para el cuerpo de la página */
body {
  font-family:Arial;
  /* Cambia la fuente del texto */
  background-color: rgb(255, 250, 250);
  /* Color de fondo blanco */
  margin: 5px;
  text-align: center;
  padding: 18px;
  /* Espacio interno del cuerpo */
}

/* Estilos para el encabezado principal (el h1) */
h1 {
  color: white;
  /* Color del texto negro */
  text-align: center;
  /* Centra el texto */
  /*text-transform: uppercase;
  /* Convierte el texto a mayúsculas */
  font-family: arial;
  font-size: 25px;
  /* Tamaño de fuente */

}

h2 {
  color: black;
  /* Color del texto negro */
  text-align: center;
  /* Centra el texto */
  /*text-transform: uppercase;
  /* Convierte el texto a mayúsculas */
  font-family: arial;
  font-size: 25px;
  /* Tamaño de fuente */
}

h3 {
  color: white;
  /* Color del texto negro */
  text-align: center;
  /* Centra el texto */
  /*text-transform: uppercase;
  /* Convierte el texto a mayúsculas */
  font-family: "arial";
  font-size: 15px;
  /* Tamaño de fuente */

}

h4 {
  color: black;
  /* Color del texto negro */
  text-align: center;
  /* Centra el texto */
  /*text-transform: uppercase;
  /* Convierte el texto a mayúsculas */
  font-family: "arial";
  font-size: 12px;
  /* Tamaño de fuente */

}



/* Estilos para la tabla */
table {
  width: 94%;
  /* Ancho de la tabla  del espacio disponible */
  margin: 23px auto;
  /* Centra la tabla en la página y le da un margen arriba y abajo */
  box-shadow: 18px 18px 22px rgba(0, 0, 0, 0.712);
  /* Agrega una sombra sutil a la tabla */
  border-collapse: collapse;
}

/* Estilos para las celdas de encabezado (th) */
th {
  background-color:rgb(77, 41, 35);
  /* Fondo gris para las celdas de encabezado */
  color: rgb(255, 255, 255);
  /* Texto negro */
  padding: 15px;
  /* Espacio interno de 15px */
  text-align: center;
  /* Centra el texto en la celda */
  border: 1px solid #471e1e;

}

/* Estilos para las celdas  (td) */
td {
  padding: 12px;
  /* Espacio interno de 12px */
  border: 1px solid rgba(31, 31, 31, 0.329);
  /* Borde gris claro */
  text-align: center;
  /* Alinea al centro */
}

header {

  background-color: rgb(56, 31, 31);
  padding: 17px;
  text-align: center;
  color: white;



}
/*Temas Selectos*/
.Temas_Selectos {
  background-color: #ffe4b2; /* amarillo pastel */
  color: #471e1e;
  font-weight: bold;
}
/* Ap. del Pensamiento M */
 .Ap_del_Pensamiento_M {
  background-color: #c7e9f1; /* azul pastel */
  color: #471e1e;
  font-weight: bold;
}

/* Inglés V */
.Ingles_V {
  background-color: #e3d7ff; /* lila pastel */
  color: #471e1e;
  font-weight: bold;
}


/* Socioemocional */
.Socioemocional {
  background-color: #fff7ae; /* amarillo pastel */
  color: #471e1e;
  font-weight: bold;
}


/* Conciencia Histórica II */
.Conciencia_Historica_II {
  background-color: #d6f5d6; /* verde pastel */
  color: #471e1e;
  font-weight: bold;
}

/* Tutoría */
.Tutoria {
  background-color: #ffe0f0; /* rosa claro */
  color: #471e1e;
  font-weight: bold;
}

/* Construye Aplicaciones Web */
.Construye_Aplicaciones_Web {
  background-color: #b2f0e6; /* celeste pastel */
  color: #471e1e;
  font-weight: bold;
}

/* Imp. App. Web */
.Imp_App_Web {
  background-color: #fff6d6; /* crema pastel */
  color: #471e1e;
  font-weight: bold;
}

  /*La energía en los procesos de la vida diaria */
.la_energia_en_los_procesos_de_la_vida_diaria {
  background-color: #f0ffd6; /* verde limón pastel */
  color: #471e1e;
  font-weight: bold; 
}

/* Profesores */
.Profesores {
  background-color: #f3e5f5; /* lavanda pastel */
  color: #471e1e;
  font-weight: bold;

   
}

ul {
  font-size: 19px;
  text-align: center;
     font-family: Arial;
     padding: 0;
     list-style:none;
    }